<!-- <p>todos-list works!</p> -->
<div class="container">
    <!-- Task table -->
    <table class="table table-bordered">
      <thead>
        <tr >
          <th scope="col">id</th>
          <th scope="col">Task</th>
          <th scope="col">Status</th>
          <th scope="col">suppression</th>
          <th scope="col">modification</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let todo of todos; let i = index">
          <td>
            <span >{{i + 1 }}</span>
            </td>
          <td style="width: 120px">
            <span>{{ todo.task }}</span>
          </td>
          <td>
            <div>
              <span class="fa fa-pen pointer">{{ todo.status }}</span>
            </div>
          </td>
          <td>
            <div  class="text-center">
              <button (click)="removTask(i)" type="button" class="fa fa-trash pointer">Supprimer</button>
            </div>
          </td>
          <td>
            <!-- <div  class="text-center">
              <button (click)="updatTask(i)" class="fa fa-trash pointer">Modifier</button>
            </div> -->
            <div *ngIf="!isEditing" class="text-center">
              <button (click)="startEditing()" class="fa fa-trash pointer">Modifier</button>
            </div>
            <div *ngIf="isEditing">
  <label>
    task:
    <input  />
  </label>
  <br />
  <label>
    status:
    <input  />
  </label>
  <br />
  <button (click)="saveChanges()">Enregistrer</button>
  <button (click)="cancelEditing()">Annuler</button>
</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>